<?xml version="1.0" ?>
<robot name="eternalmorph" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find eternalmorph_description)/urdf/materials.xacro" />
<xacro:include filename="$(find eternalmorph_description)/urdf/eternalmorph.trans" />
<xacro:include filename="$(find eternalmorph_description)/urdf/eternalmorph.gazebo" />

<link name="base_footprint"/>

<joint name="base_footprint_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="base_link">
  <inertial>
    <origin xyz="0.42 -0.06499999999999996 0.005" rpy="0 0 0"/>
    <mass value="4.016059999999999"/>
    <inertia ixx="0.041679" iyy="0.009163" izz="0.050775" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_on_ust_motor_1">
  <inertial>
    <origin xyz="0.01983439938277437 0.015972353352877652 0.010000102211902067" rpy="0 0 0"/>
    <mass value="0.24006738148077642"/>
    <inertia ixx="3.6e-05" iyy="4e-05" izz="6.1e-05" ixy="-1e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.31 -0.069 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.31 -0.069 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_on_ust_motor_1">
  <inertial>
    <origin xyz="-0.019834399382774426 0.01597235335287768 0.009999897788097964" rpy="0 0 0"/>
    <mass value="0.24006738148077642"/>
    <inertia ixx="3.6e-05" iyy="4e-05" izz="6.1e-05" ixy="1e-06" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.53 -0.069 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.53 -0.069 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_arka_ust_motor_1">
  <inertial>
    <origin xyz="0.01983439938277365 -0.01597235335287764 0.009999897788099404" rpy="0 0 0"/>
    <mass value="0.24006738148077642"/>
    <inertia ixx="3.6e-05" iyy="4e-05" izz="6.1e-05" ixy="1e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.31 0.199 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.31 0.199 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_arka_ust_motor_1">
  <inertial>
    <origin xyz="0.02016560061722561 -0.01597235335287761 0.010000102211902036" rpy="0 0 0"/>
    <mass value="0.24006738148077642"/>
    <inertia ixx="3.6e-05" iyy="4e-05" izz="6.1e-05" ixy="-1e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.49 0.199 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.49 0.199 -0.01" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_ust_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_on_teker_1">
  <inertial>
    <origin xyz="-0.014453505744212336 -4.3077978609251666e-07 -1.4535181173253031e-08" rpy="0 0 0"/>
    <mass value="0.6867946162142627"/>
    <inertia ixx="0.003171" iyy="0.001639" izz="0.001639" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.293181 -0.244976 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_teker_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0165 0 0" rpy="0 1.5707963 0"/>
    <geometry>
      <cylinder radius="0.0795" length="0.033"/>
    </geometry>
  </collision>
</link>

<link name="sol_arka_teker_1">
  <inertial>
    <origin xyz="-0.014453505744213224 4.2949332074160296e-07 -0.0003923923806864356" rpy="0 0 0"/>
    <mass value="0.6867946162142627"/>
    <inertia ixx="0.003171" iyy="0.001639" izz="0.001639" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.293181 0.374976 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_teker_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0165 0 0" rpy="0 1.5707963 0"/>
    <geometry>
      <cylinder radius="0.0795" length="0.033"/>
    </geometry>
  </collision>
</link>

<link name="sag_on_teker_1">
  <inertial>
    <origin xyz="0.014453505744212225 -4.2949331915953515e-07 0.0003924214510405387" rpy="0 0 0"/>
    <mass value="0.6867946162142627"/>
    <inertia ixx="0.003171" iyy="0.001639" izz="0.001639" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.546819 -0.244976 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_teker_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0165 0 0" rpy="0 1.5707963 0"/>
    <geometry>
      <cylinder radius="0.0795" length="0.033"/>
    </geometry>
  </collision>
</link>

<link name="sag_arka_teker_1">
  <inertial>
    <origin xyz="0.014453505744212225 4.3077978767458447e-07 0.00039239238068411106" rpy="0 0 0"/>
    <mass value="0.6867946162142627"/>
    <inertia ixx="0.003171" iyy="0.001639" izz="0.001639" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.546819 0.374976 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_teker_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0165 0 0" rpy="0 1.5707963 0"/>
    <geometry>
      <cylinder radius="0.0795" length="0.033"/>
    </geometry>
  </collision>
</link>

<link name="sol_on_tekerlek_eksen_1">
  <inertial>
    <origin xyz="-0.02705118983998983 0.03409722121227965 4.839047473507302e-06" rpy="0 0 0"/>
    <mass value="0.6520461399883267"/>
    <inertia ixx="0.001015" iyy="0.00012" izz="0.001018" ixy="9.4e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.343698 -0.142476 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.343698 -0.142476 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_on_tutucu_parca_1">
  <inertial>
    <origin xyz="-0.011352752133684585 0.04119528463513489 -7.40791396371121e-07" rpy="0 0 0"/>
    <mass value="0.19250580059635927"/>
    <inertia ixx="0.000144" iyy="9.4e-05" izz="0.000233" ixy="-4.3e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.32 -0.061 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.32 -0.061 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_on_tekerlek_eksen_1">
  <inertial>
    <origin xyz="0.027051189839989775 0.034097221212279816 -4.8390474734726074e-06" rpy="0 0 0"/>
    <mass value="0.652046139988327"/>
    <inertia ixx="0.001015" iyy="0.00012" izz="0.001018" ixy="-9.4e-05" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.496302 -0.142476 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.496302 -0.142476 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_on_tutucu_parca_1">
  <inertial>
    <origin xyz="0.011352752133684474 0.04119528463513493 7.407913964058155e-07" rpy="0 0 0"/>
    <mass value="0.19250580059635927"/>
    <inertia ixx="0.000144" iyy="9.4e-05" izz="0.000233" ixy="4.3e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.52 -0.061 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.52 -0.061 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_arka_tekerlek_eksen_1">
  <inertial>
    <origin xyz="-0.027051189839990553 -0.034097221212279594 -4.8390474730077015e-06" rpy="0 0 0"/>
    <mass value="0.6520461399883272"/>
    <inertia ixx="0.001015" iyy="0.00012" izz="0.001018" ixy="-9.4e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.343698 0.272476 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.343698 0.272476 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_arka_tutucu_parca_1">
  <inertial>
    <origin xyz="-0.011352752133685251 -0.041195284635134916 7.407913962878543e-07" rpy="0 0 0"/>
    <mass value="0.19250580059635924"/>
    <inertia ixx="0.000144" iyy="9.4e-05" izz="0.000233" ixy="4.3e-05" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.32 0.191 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.32 0.191 -0.020006" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_arka_tekerlek_eksen_1">
  <inertial>
    <origin xyz="0.027051189839989775 -0.03409722121227948 4.839047473469138e-06" rpy="0 0 0"/>
    <mass value="0.652046139988327"/>
    <inertia ixx="0.001015" iyy="0.00012" izz="0.001018" ixy="9.4e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.496302 0.272476 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.496302 0.272476 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_tekerlek_eksen_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_arka_tutucu_parca_1">
  <inertial>
    <origin xyz="0.011352752133684474 -0.04119528463513486 -7.40791396402346e-07" rpy="0 0 0"/>
    <mass value="0.19250580059635927"/>
    <inertia ixx="0.000144" iyy="9.4e-05" izz="0.000233" ixy="-4.3e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.52 0.191 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.52 0.191 -0.019994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_tutucu_parca_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_on_pervane_1">
  <inertial>
    <origin xyz="2.6430573e-07 -3.0606814e-07 0.0027102891" rpy="0 1.57079632679 0"/>
    <mass value="0.027453359988130525"/>
    <inertia ixx="1.0e-05" iyy="1e-05" izz="1e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.019994 -0.244976 0.274181" rpy="0 1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.019994 -0.244976 0.274181" rpy="0 1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_on_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sol_arka_pervane_1">
  <inertial>
    <origin xyz="-1.1353977e-07 5.5420496e-07 0.0027102891" rpy="0 1.57079632679 0"/>
    <mass value="0.027453359988130525"/>
    <inertia ixx="1.0e-05" iyy="1e-05" izz="1e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.019614 0.374976 0.274181" rpy="0 1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.019614 0.374976 0.274181" rpy="0 1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sol_arka_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_arka_pervane_1">
  <inertial>
    <origin xyz="-1.4261013e-07 -3.0478168e-07 0.0027102891" rpy="0 -1.57079632679 0"/>
    <mass value="0.027453359988130525"/>
    <inertia ixx="1.0e-05" iyy="1e-05" izz="1e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.020398 -0.244976 -0.565819" rpy="0 -1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.020398 -0.244976 -0.565819" rpy="0 -1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_arka_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sag_on_pervane_1">
  <inertial>
    <origin xyz="-6.7122159e-07 3.0606815e-07 0.0026102891" rpy="0 -1.57079632679 0"/>
    <mass value="0.027453359988130525"/>
    <inertia ixx="1.0e-05" iyy="1e-05" izz="1e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.020386 0.374976 -0.565819" rpy="0 -1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.020386 0.374976 -0.565819" rpy="0 -1.57079632679 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/sag_on_pervane_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="bacak_1">
  <inertial>
    <origin xyz="-3.96605842611919e-09 -1.249000902703301e-16 -0.012273842052685759" rpy="0 0 0"/>
    <mass value="1.0024673044067163"/>
    <inertia ixx="0.007138" iyy="0.00266" izz="0.00944" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.42 0.065 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/bacak_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.42 0.065 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://eternalmorph_description/meshes/bacak_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="sol_on_fixed" type="fixed">
  <origin xyz="0.31 0.069 0.01" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="sol_on_ust_motor_1"/>
</joint>

<joint name="sag_on_fixed" type="fixed">
  <origin xyz="0.53 0.069 0.01" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="sag_on_ust_motor_1"/>
</joint>

<joint name="sol_arka_fixed" type="fixed">
  <origin xyz="0.31 -0.199 0.01" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="sol_arka_ust_motor_1"/>
</joint>

<joint name="sag_arka_fixed" type="fixed">
  <origin xyz="0.49 -0.199 0.01" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="sag_arka_ust_motor_1"/>
</joint>

<joint name="sol_on_teker" type="continuous">
  <origin xyz="-0.050517 0.1025 0.0" rpy="0 0 0"/>
  <parent link="sol_on_tekerlek_eksen_1"/>
  <child link="sol_on_teker_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.05" friction="0.01"/>
</joint>

<joint name="sol_arka_teker" type="continuous">
  <origin xyz="-0.050517 -0.1025 0.0" rpy="0 0 0"/>
  <parent link="sol_arka_tekerlek_eksen_1"/>
  <child link="sol_arka_teker_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.05" friction="0.01"/>
</joint>

<joint name="sag_on_teker" type="continuous">
  <origin xyz="0.050517 0.1025 0.0" rpy="0 0 0"/>
  <parent link="sag_on_tekerlek_eksen_1"/>
  <child link="sag_on_teker_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.05" friction="0.01"/>
</joint>

<joint name="sag_arka_teker" type="continuous">
  <origin xyz="0.050517 -0.1025 0.0" rpy="0 0 0"/>
  <parent link="sag_arka_tekerlek_eksen_1"/>
  <child link="sag_arka_teker_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.05" friction="0.01"/>
</joint>

<joint name="sol_on_pervane_joint" type="continuous">
  <origin xyz="-0.019 0.0 0.0" rpy="0 -1.57079632679 0"/>
  <parent link="sol_on_teker_1"/>
  <child link="sol_on_pervane_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="sol_arka_pervane_joint" type="continuous">
  <origin xyz="-0.019 0.0 -0.000392" rpy="0 -1.57079632679 0"/>
  <parent link="sol_arka_teker_1"/>
  <child link="sol_arka_pervane_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="sag_on_pervane_joint" type="continuous">
  <origin xyz="0.019 0.0 0.000392" rpy="0 1.57079632679 0"/>
  <parent link="sag_on_teker_1"/>
  <child link="sag_on_pervane_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="sag_arka_pervane_joint" type="continuous">
  <origin xyz="0.019 0.0 0.000392" rpy="0 1.57079632679 0"/>
  <parent link="sag_arka_teker_1"/>
  <child link="sag_arka_pervane_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="bacak_fixed_joint" type="fixed">
  <origin xyz="0.42 -0.065 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="bacak_1"/>
</joint>

<joint name="sol_on_ground_mode" type="revolute">
  <origin xyz="0.023698 0.081476 0.0" rpy="0 0 0"/>
  <parent link="sol_on_tutucu_parca_1"/>
  <child link="sol_on_tekerlek_eksen_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
  <limit upper="1.7" lower="-0.2" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<joint name="sol_on_air_mode" type="revolute">
  <origin xyz="0.01 -0.008 0.009994" rpy="0 0 0"/>
  <parent link="sol_on_ust_motor_1"/>
  <child link="sol_on_tutucu_parca_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
  <limit upper="0.2" lower="-1.7" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<joint name="sag_on_ground_mode" type="revolute">
  <origin xyz="-0.023698 0.081476 0.0" rpy="0 0 0"/>
  <parent link="sag_on_tutucu_parca_1"/>
  <child link="sag_on_tekerlek_eksen_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.2" lower="-1.7" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<joint name="sag_on_air_mode" type="revolute">
  <origin xyz="-0.01 -0.008 0.010006" rpy="0 0 0"/>
  <parent link="sag_on_ust_motor_1"/>
  <child link="sag_on_tutucu_parca_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit upper="1.7" lower="-0.2" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<joint name="sol_arka_ground_mode" type="revolute">
  <origin xyz="0.023698 -0.081476 0.0" rpy="0 0 0"/>
  <parent link="sol_arka_tutucu_parca_1"/>
  <child link="sol_arka_tekerlek_eksen_1"/>
  <axis xyz="-1.0 -0.0 -0.0"/>
  <limit upper="0.2" lower="-1.7" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<joint name="sol_arka_air_mode" type="revolute">
  <origin xyz="0.01 0.008 0.010006" rpy="0 0 0"/>
  <parent link="sol_arka_ust_motor_1"/>
  <child link="sol_arka_tutucu_parca_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="1.7" lower="-0.2" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<joint name="sag_arka_ground_mode" type="revolute">
  <origin xyz="-0.023698 -0.081476 0.0" rpy="0 0 0"/>
  <parent link="sag_arka_tutucu_parca_1"/>
  <child link="sag_arka_tekerlek_eksen_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="1.7" lower="-0.2" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<joint name="sag_arka_air_mode" type="revolute">
  <origin xyz="0.03 0.008 0.009994" rpy="0 0 0"/>
  <parent link="sag_arka_ust_motor_1"/>
  <child link="sag_arka_tutucu_parca_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="0.2" lower="-1.7" effort="200" velocity="100"/>
  <dynamics damping="2.0" friction="0.2"/>
</joint>

<link name="camera_1">
    <inertial>
      <origin xyz="7.9669377317515e-08 0.007701579533281336 0.019385691102944518" rpy="0 0 0"/>
      <mass value="0.0441171047069775"/>
      <inertia ixx="6e-06" iyy="5e-06" izz="5e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.42 -0.1 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://eternalmorph_description/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.42 -0.1 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://eternalmorph_description/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="camera_joint" type="fixed">
    <origin xyz="0.42 0.1 0.01" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_1"/>
  </joint>

  <!-- Optical frame for ROS camera conventions (Z forward, X right, Y down) -->
  <link name="camera_1_optical_frame"/>

  <joint name="camera_1_optical_joint" type="fixed">
    <origin xyz="0 0.025 0.02" rpy="-1.5707963 0 0"/>
    <parent link="camera_1"/>
    <child link="camera_1_optical_frame"/>
  </joint>

  <!-- IMU link placed at the robot's actual Center of Mass (CoM) -->
  <link name="imu_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-07" iyy="1e-07" izz="1e-07" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="imu_joint" type="fixed">
    <origin xyz="0.4200 -0.0644 0.0236" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>

  <!-- ===== ros2_control HARDWARE TANIMI (rover_ws ile birebir aynı mimari) ===== -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="sol_on_teker">
      <command_interface name="velocity">
        <param name="min">-20.0</param>
        <param name="max">20.0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="sag_on_teker">
      <command_interface name="velocity">
        <param name="min">-20.0</param>
        <param name="max">20.0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="sol_arka_teker">
      <command_interface name="velocity">
        <param name="min">-20.0</param>
        <param name="max">20.0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="sag_arka_teker">
      <command_interface name="velocity">
        <param name="min">-20.0</param>
        <param name="max">20.0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <!-- ===== GAZEBO ROS2 CONTROL PLUGIN ===== -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find eternalmorph_description)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>